/* Header section styles */
.header {
  background-color: #97afd8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 40vh;
  height: 50vh;
  color: white;
  width: 100%;
  position: relative;
  z-index: 1;
}

.basic-header__title-wrapper {
  position: absolute; /* Allows for overlap */
  top: 340px; /* Adjust this value as needed to control the amount of overlap */
  left: 25px;
  right: 0;
  z-index: 3; /* Ensure it's on top of the header */
  text-align: left;
  max-height: 100px;
}

.large-title {
  position: relative;
  z-index: 2; /* Ensure the title is above everything */
}

.background-banner svg {
  display: block;
  width: 1%;
  height: auto;
}

.header .h1 {
  font-family: Allerta Stencil;
  padding-left: 2rem;
  margin-left: 2rem;
  font-size: 0.5rem;
}

.navbar-brand .img {
  max-height: 10vh;
  width: auto;
}

/* Spotlight section styles */
.spotlight-section {
  padding: 50px 0;
  background-color: #97afd8;
}

body {
  background-color: #dcdee5;
}

.phone i {
  font-size: 1.5rem; /* Adjust icon size */
  margin-bottom: 0.5rem; /* Space between icon and text */
}
.phone a {
  display: block; /* Ensure each link takes up the full width */
  text-decoration: none; /* Remove underline */
}
.phone a:hover {
  text-decoration: underline; /* Optional: underline on hover */
}

.church {
  background-image: url('/assets/img/praise-hands.jpg');
  height: 50vh;
  margin: 0%;
  padding-bottom: 0%;
  color: rgb(0, 0, 0);
  max-height: 35%;
}


@media (max-width: 768px) {
  .church {
    height: 40vh; /* Adjust height for smaller screens */
    padding-top: 1;
    margin-top: 1;
  }
}

/* Carousel styles */
.carousel {
  position: relative;
  margin: auto;
}

.carousel-item {
  background-color: #97afd8;
}

#event-image {
  width: 100vw;
}



