/* Header section styles */
header {
  background-image: url('/assets/img/hero-bg-grayscale-lightened.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  width: 100vw;
  height: 50vh; /* Adjust height for the header */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
}

@media (max-width: 768px) {
  header {
    height: 30vh; /* Smaller height for mobile screens */
    font-size: 20px;
    height: 30vh;
  }

  .phone, .address {
    text-align: center;
    margin-bottom: 10px;
  }

  .phone a {
    display: block;
    margin-bottom: 5px;
  }


  .carousel-inner {
    max-height: 390px !important;
  }

  .large-title {
    font-size: medium;
  }

  .svg-banner {
    height: 20px !important;
  }

  .action-title {
    font-size: 2rem !important;
  }

  .footer {
    font-size: medium;
  }

  .church {
    height: 40vh; /* Adjust height for smaller screens */
    padding-top: 1;
    margin-top: 1;
  }
}

@media (max-width: 576px) {
  header {
    font-size: 15px; /* Even smaller size on extra small screens */
  }
}

.navbar-brand img {
  max-width: 50vw;
  height: auto;
  width: 10vw;
}

@media (max-width: 768px) {
  .navbar-brand img {
    width: 15vw; /* Adjust logo size for mobile */
  }

}

.basic-header__title-wrapper {
  position: absolute !important; /* Allows for overlap */
  top: 390px; /* Adjust this value as needed to control the amount of overlap */
  left: 25px;
  right: 0;
  z-index: 3; /* Ensure it's on top of the header */
  text-align: left;
  max-height: 100px;
}

@media (max-width: 768px) {
  .basic-header__title-wrapper {
    position: absolute !important;
    top: 200px; /* Adjust for smaller screens */
    left: 25px;
    right: 0;
    z-index: 3; /* Ensure it's on top of the header */
    text-align: left;
  }
}

@media (max-width: 430px) {
  .basic-header__title-wrapper {
    position: absolute !important;
    top: 200px; /* Adjust for smaller screens */
    left: 25px;
    right: 0;
    z-index: 3; /* Ensure it's on top of the header */
    text-align: left;
  }
}

@media (max-width: 360px) {
  .basic-header__title-wrapper {
    position: absolute !important;
    top: 220px;
    left: 25px;
    right: 0;
    z-index: 3; /* Ensure it's on top of the header */
    text-align: left;
  }
}



.large-title {
  position: relative;
  z-index: 2; /* Ensure the title is above everything */
  text-shadow: 2px 2px 5px rgb(248, 246, 246);
}

.background-banner {
  position: relative; /* Position relative to control z-index */
  z-index: 1; /* Lower than the title wrapper */
  display: inline-block;
}

.background-banner svg {
  display: block;
  width: 100%;
  height: auto;
}

.header .h1 {
  font-family: Allerta Stencil;
  padding-left: 2rem;
  margin-left: 2rem;
  font-size: 0.5rem;
}

.navbar-brand .img {
  max-height: 20vh;
  width: auto;
}

/* Spotlight section styles */
.spotlight-section {
  padding: 50px 0;
}

body {
  background-color: #dcdee5;
}

.phone i {
  font-size: 1.5rem; /* Adjust icon size */
  margin-bottom: 0.5rem; /* Space between icon and text */
}
.phone a {
  display: block; /* Ensure each link takes up the full width */
  text-decoration: none; /* Remove underline */
}
.phone a:hover {
  text-decoration: underline; /* Optional: underline on hover */
}

.church {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(151, 175, 216, 0.6)), url('/assets/img/new_praise_hands_gradient.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column !important;
  height: 50vh;
  margin: 0%;
  padding-bottom: 0%;
  color: rgb(0, 0, 0);
  max-height: 35%;
  opacity: 1;
  max-height:400px;
  color: black !important;
}

/* Carousel styles */
.carousel {
  position: relative;
  margin: auto;
}

.carousel-item {
  max-height:655px;
  background-image: linear-gradient(rgba(151, 175, 216, 0.7), #dcdee5);
}

#event-image {
  width: 100vw;
}

.action-section {
  background-image: linear-gradient( #dcdee5,#97afd8,#4e7dba);
  padding-bottom: 4rem;
}

.action-title {
  font-size: 5rem;
  font-style:italic;
}

.footer {
  background-color:#4e7dba;
  margin-top: 4rem;
  padding-top: 2rem;
  color: black;
  font-weight: 500;
  border:0 !important
}

.footer .h4 {
  font-size: 2rem;
}

.footer .container {
  font-size: 1rem;
}