body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* Header section styles */
.header-section {
  display: flex;
  justify-content: space-between;  
  width: 100%;
  background-color: #343a40;
  color: white;
  padding: 0;
  margin: 0;
}

/* Container inside header section */
.header-section .container {
  flex: 1;  /* Ensure the container takes all available space */
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;  /* Flex display to align content horizontally */
  justify-content: space-between;  /* Spread out the content */
  align-items: center;  /* Center content vertically */
}

.header-section img {
  max-width: 150px;
}

.spotlight-section {
  padding: 50px 0;
  background-color: #ffffff;
}

.spotlight-section h2,
.spotlight-section h5 {
  color: #333;
}

.feature-icon {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.feature-section {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.action-section {
  background-color: #343a40;
  color: white;
  padding: 40px 0;
}

.action-title {
  color: #ffcc00;
}

.location-section {
  padding: 40px 0;
  background-color: #ffffff;
}
