/* Header section styles */
.header-section {
  background-image: url("/assets/img/hero-bg-grayscale-lightened.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100px;
  margin: 0%;
  padding-bottom: 0%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
  color: white;
  padding: 10px;
}

.header-section .image-logo {
  margin: 1.5rem;
  height: 10%;
  width: auto;
}

/* Spotlight section styles */
.spotlight-section {
  padding: 50px 0;
  background-color: #ffffff;
}

.blue-border {
  background-color: rgb(52, 129, 218);
  height: 25px;
  width: 100vw;
}
/* Carousel styles */
.carousel {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  background-color: black;
  width: 100%;
}

.carousel-item img {
  object-fit: fill;
  height: 500px;
  overflow: hidden;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 50px solid black;
  border-left: 50px solid black;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.location-section {
  background-color: #343a40;
  color: white;
  text-align: center;
  margin-top: 3rem;
  padding-top: 6rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
  background-color: #343a40;
  color: white;
  text-align: center;
}