<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Iglesia Pentecostal Apostólica</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&display=swap"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gruppo&display=swap"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/assets/css/style.css"/>


</head>
<body style="background-color:#dcdee5 !important">
  <header class="d-flex flex-lg-row align-items-center justify-content-evenly text-light">
    <div class="phone d-flex-column pr-4 pl-4 m-4 flex-sm-wrap">
      <i class="fa fa-phone"></i>
      <a href="tel:+13148948130" style="color: white;">(314) 894-8130 English</a>
      <a>  </a>
      <a href="tel:+13149562037" style="color: white;">(314) 956-2037 Español</a>
    </div>
    <a class="navbar-brand pr-4 pl-4 m-2" rel="home" aria-current="page">
      <img src="/assets/img/darker_blue_ipa_logo_white_cross_2.png" alt="Apostolic Pentecostal Church">
    </a>
    <div class="address pr-4 pl-4 m-4">
      <i class="fa fa-map-marker"></i>
      <address>901 Barracksview Road<br>St. Louis, MO 63125</address>
    </div>
  </header>
  <div class="basic-header__title-wrapper">
    <div class="basic-header__title" style="font-family: Gruppo; font-style: italic; font-weight: 700;">
      <h1 class="large-title" style="font-weight: 700;">
        <!-- Welcome Section -->
        <span class="background-banner" style="display: inline-block;">
          <svg width="100%" height="35" class="svg-banner" style="position: absolute; top: 0; left: 0; z-index: -1;">
            <rect x="0" y="0" width="100%" height="100%" style="fill: rgb(151, 175, 216);"></rect>
          </svg>
          Welcome
        </span>
      </h1>
      <h1 class="large-title" style="margin-top: 0; font-weight: 700;">
        <!-- To Apostolic Pentecostal Church Section -->
        <span class="background-banner" style="display: inline-block;">
          <svg width="100%" height="35" class="svg-banner" style="position: absolute; top: 0; left: 0; z-index: -1;">
            <rect x="0" y="0" width="100%" height="100%" style="fill: rgb(151, 175, 216);"></rect>
          </svg>
          To Apostolic Pentecostal Church
        </span>
      </h1>
    </div>
  </div>
  <div id="zone-headertext" class="zone-instance">
    <div class="zone-content">
      <div class="church d-flex text-lg-center justify-content-center flex-column align-items-center">
        <h2 class="p-0 m-0">Join our Community!</h2>
        <h5>Come and worship with us every Sunday at 3:00 PM.</h5>
        <p>Wednesday night bible study starts at 7:30 PM</p>
        <span></span>

      </div>
    </div>
  </div>


  <div class="spotlight-section justify-content-center text-center pt-0 mt-0" style="width: 100vw;">
    <div id="communityCarousel" class="carousel slide" data-bs-ride="carousel">
      <!-- Carousel Indicators -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#communityCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#communityCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#communityCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#communityCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#communityCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>

      <!-- Carousel Items -->
      <div class="carousel-inner " style="border:0 !important; margin:0 !important;">
        <div class="carousel-item active col-md-4 mb-2">
          <img src="/assets/img/20231006_193147.jpg" class="img-fluid h-100" alt="Slide 1" style="border: 0 !important;">
        </div>
        <div class="carousel-item bg-#dcdee5 col-md-4 mb-2">
          <img src="/assets/img/448948473933835632.jpg" class="img-fluid h-100" alt="Slide 2" style="border: 0 !important;">
        </div>
        <div class="carousel-item bg-#dcdee5 col-md-4 mb-2">
          <img src="/assets/img/20231006_202144.jpg" class="img-fluid h-100" alt="Slide 3" style="border: 0 !important;">
        </div>
        <div class="carousel-item bg-#dcdee5 col-md-4 mb-2">
          <img src="/assets/img/1378642523479988803.jpg" class="img-fluid h-100" alt="Slide 4" style="border: 0 !important;">
        </div>
        <div class="carousel-item bg-#dcdee5 col-md-4 mb-2">
          <img src="/assets/img/20231006_202237.jpg" class="img-fluid h-100" alt="Slide 5" style="border: 0 !important;">
        </div>
      </div>

      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#communityCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#communityCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Spotlight Section with Carousel -->

  <!-- Feature Section -->
  <div class="justify-content-center" style="padding:5px; margin:5px; margin-bottom: 4rem;">
    <div class="container align-items-center d-flex flex-column" style="padding:56.25% 0 0 0;position:relative; max-width: 80%; height: auto;">
      <iframe src="https://vimeo.com/event/29158/embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;">
      </iframe>
    </div>
  </div>

  <!-- Action Section -->
<div class="action-section text-center justify-content-center" style="background-color: #dcdee5; border:0 !important; margin-top: 4 !important; font-family: Aclonica;">
  <div class="container align-items-center d-flex flex-column" style="background-color: #dcdee5;">
    <h3 class="action-title">
      Events
      <span id="current-year">
    </span>
  </h3>
    <ul class="list-unstyled mt-3">
      <li>
        <a id="event-link" href="/assets/img/FUEGO2024.pdf">
          <img src="/assets/img/fuego2024.png" alt="Event Image" id="event-image" class="img-fluid" style="width: 100vw;" />
        </a>
      </li>
    </ul>
    <p id="no-events-message" style="display: none;">No upcoming events at this time</p>
  </div>
</div>


  <!-- Footer -->
  <div class="footer justify-content-center p-0 m-0">
    <div class="container d-flex flex-column flex-lg-column align-items-center text-center">
      <h4 style="font-family: Gruppo; font-weight: 800;">location</h4>
      <p>901 Barracksview Rd<br>St. Louis, MO 63125<br>Tel: 314-956-2037</p>
      <p><span style="font-family: Gruppo; font-weight: bold;">Espanol Iglesia Pastor: Randall Clark</span></p>
      <p>© 2024 Iglesia Pentecostal Apostólica. All rights reserved.</p>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies from CDN -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#communityCarousel').carousel({
        interval: 5000,  // Adjust the interval as needed
        wrap: true,
        keyboard: true
      });
    });
  </script>
  <script>
    document.getElementById('current-year').textContent = new Date().getFullYear();
  </script>
  <script>
    document.getElementById('current-year').textContent = new Date().getFullYear();

    // Check if the <a> element is empty
      const eventLink = document.getElementById('event-link');
      if (!eventLink.href || eventLink.getAttribute('img') === '') {
        eventLink.style.display = 'none'; // Hide the empty <a> element
          document.getElementById('no-events-message').style.display = 'block'; // Show the message
        }
      </script>
    </body>
    </html>